.OverFlowChild{
    background: radial-gradient(130px,#fff0,#000000c9);
    display: flex;    
    align-items: flex-end;
}

.OverFlowChild > div{
    margin: 10px;
}

.PriceContainer{
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.PRICE{
    border: 1px solid rgb(255, 174, 0);
    display: flex;
    gap: 8px;
    padding: 5px 10px;
    align-items: center;
    border-radius: 50px;
    position: absolute;
    top: 20px;
}

.PRICE > small{
    color: red;
}

.BUYBUTTON{
    display: grid;
}